<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1}]')
        Dashing.widget_base_dimensions = [310, 320]
      Dashing.numColumns = 4
    });
</script>
<% content_for(:title) { "1080p dashboard" } %>
<div style="font-size: 40px"><a href="https://coupadev.atlassian.net/wiki/display/CQ/Solano+Build+Failures">Build result details</a></div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="master" data-view="CiBuild" data-title="Master" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="013_release" data-view="CiBuild" data-title="013_release" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="13_0_1" data-view="CiBuild" data-title="13_0_1" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="r12" data-view="CiBuild" data-title="R12" data-min="0" data-max="100"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="12_0_13" data-view="CiBuild" data-title="12_0_13" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="r11" data-view="CiBuild" data-title="R11" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>
