<% content_for(:title) { "Shop Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
    </li>

    <h3 class="title" data-bind="title"></h3>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lunch" data-view="Text" data-title="Master build - Solano" data-text="5 Failures"  style="background-color:#FF0033;"></div>
      <!--GREEN 33CC66 RED FF0033-->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lunch" data-view="Text" data-title="R12 build - Solano" data-text="3 Failures" style="background-color:#FF0033;"></div>
      <!--GREEN 33CC66 RED FF0033-->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lunch" data-view="Text" data-title="R11 build - Solano" data-text="3 Failures" style="background-color:#FF0033;"></div>
      <!--GREEN 33CC66 RED FF0033-->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="JOB" data-view="JenkinsBuild" data-title="BUILD" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="pull_requests" data-view="List" data-title="Open Pull Requests" style="background-color:#33CCFF;"></div>
    </li>

    <!--<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">-->
    <!--<div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #coupa"></div>-->
    <!--<i class="icon-twitter icon-background"></i>-->
    <!--</li>-->
  </ul>

</div>